* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --purple: #6246EA;
    --red: #E45858;
    }

body {
    font-size: 1.6rem;
    color: #121214;
    font-family: 'Roboto', sans-serif;
}

header{
    display: grid;
    place-content: center;
    background-color: #f8f8ff;
    position: relative;
    min-height: 53.2rem;
    overflow: hidden;
}

header .top{
    text-align: center;
    display: flex;
    justify-content: center;
}

header::before{
    content: "";
    display: block;
    background: url('./src/header1.png');
    height: 34.5rem;
    width: 40.7rem;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after{
    content: "";
    background-image: url('./src/header2.png');
    width: 41.4rem;
    height: 33rem;

    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -1rem;
}

header .content{
    padding: 10rem 0;
    width: fit-content;
    position: relative;
    z-index: 1;
}

h1{
    font-size: 4.8rem;
    line-height: 125%;
    max-width: 64.7rem;
    margin: auto;
}

h2 {
    color: var(--red);
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
}

h1 span{
    color: var(--purple);
}

form{
    display: flex;
    gap: 2.4rem;
    padding: 4rem;
    border: 0.1rem solid #EAEAEA;
    border-radius: 1rem;
    z-index: 2;
    background-color: #EAEAEA;
}

input, select, button {
    all: unset;
}

input{
    text-align: left;
}

.search-field {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    background-color: #f4f4ff;
    border-radius: 5px;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

.search-field i{
    color: #E45858;
    font-size: 2.4rem;
}

form button{
    background-color: var(--purple);
    padding: 1.2rem 3.2rem;
    border: 0;
    border-radius: 0.8rem;
    color: #FFF;
}

button:hover{
    filter: brightness(1.1);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

main .content {
    max-width: 121.6rem;
    margin: 10rem auto;
}

section.top{
    display: flex;
    justify-content: space-between;
}

.view{
    display: flex;
}

.primary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: #FFF;
    padding: 1.2rem 3.2rem;
    border-radius: 0.4rem;
}

.secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    padding: 1.2rem 3.2rem;
    border-radius: 0.4rem;
}