* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.box{
    color: #FFF;
    padding: 2.9rem 4.8rem;
    background: #363447; 
    box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}

#app {
    background: #292738;
    place-content: center;
    grid-template-columns: 29.6rem max-content max-content;
    grid-template-rows: max-content;
    column-gap: 3.2rem;
    row-gap: 5.9rem;
    min-width: 100vw;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
}

.box:nth-child(4) {
    grid-column: 1/4;
}

.top{
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
}

.middle {
    display: grid;
    place-content: center;
    position: relative;
}

.bottom{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: auto;
    font-weight: 400;
    font-size: 14px;
}

.bottom .item{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bottom .item span:nth-child(1){
    display: flex;
    align-items: center;
    gap: 0.4rem
}

.bottom .item span{
    --bg-color: #4A4556;
}

.bottom .item span:nth-child(1)::before{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: var(--bg-color);
    border-radius: 999px;
}

.nps {
    font-weight: 500;
    gap: 3.2rem;
    text-align: center;
    font-size: 2.4rem;
}

.nps .middle {
    min-height: 19.7rem;
    place-content: center;
    justify-items: center;
    gap:1.6rem;
    color: #81FBB8;
}

.nps .bottom{
    gap: 1rem;
}

.box svg {
    --percentage: 0;
    width: 19.7rem;
    height: 19.7rem;
    transform: rotate(-90deg);
}

svg circle {
    stroke-dasharray: 618;
    stroke-dashoffset: 618;
    stroke-width: 33;
    fill: none;
}

svg circle:nth-child(1){
    stroke-dashoffset: 0;
}

svg circle:nth-child(2){
    stroke-dashoffset: calc(618 - (618*var(--percentage))/100);
    stroke-linecap: round;

    animation: chart 1.5s ease-in-out backwards;
}

@keyframes chart {
    0%{
        stroke-dashoffset: 618;
        stroke-dasharray: 618;
    }
}

.middle .content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.content h3{
    font-size: 3.4rem;
}

.text-left{
    text-align: left;
}

.weekly-sell{
    gap: 3.2rem;
    flex-direction: column;
}

.weekly-sell .wrapper{
    gap: 3.2rem;
}

.weekly-sell .left{
    gap: 3.2rem
}

.left .grid{
    gap: .8rem;
    font-weight: 500;
    font-size: 2.4rem;
}

.left .grid span{
    font-size: 1.4rem;
    display: flex;
    gap: .4rem;
    align-items: center;
}

.left .most-sell span::before{
    content: "";
    background: linear-gradient(180deg, #81fbb8 0%, #28c76f 100%);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} 

.left .less-sell span::before{
    content: "";
    background: linear-gradient(180deg, #EA5455 0%, #FEB692 100%);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
} 

.weekly-sell .left, .weekly-sell.right{
    flex:1
}

.right{
    gap: 5.9rem;
}

.bar-wrapper{
    display: grid;
    justify-items: center;
    gap: .5rem; 
    margin-top: auto;
}

.bar{
    --height: 3rem;
    width: 1.5rem;
    height: var(--height);
    background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
    border-radius: 999px;
    animation: bar 1s ease-in;
}

@keyframes bar {
    0% {
        height: 0;
    }
}