* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url('assets/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    place-content: center;
    overflow: hidden;

    height: 100vh;
    backdrop-filter: brightness(0.5)
}

#app {
    display: grid;
    gap: 2rem;
    grid-template-areas: 'aside header'
                         'aside main'
                         'aside footer';
    animation: appear 400ms 500ms backwards;
}

aside {
    grid-area: aside
}

header { 
    grid-area: header 
}

main {
    grid-area: main;
}

footer {
    grid-area: footer
}


.side-menu{
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    height: fit-content;
    align-self: center;

    border-radius: 999px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(255, 255, 255, 0.30) inset, 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(16px);
}

.side-menu ion-icon {
    display: flex;
    padding: 0.5rem;
    align-items: flex-start;

    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    opacity: .8;
    transition: all 1s;
}

.side-menu ion-icon:hover {
    background: rgba(255, 255, 255, 0.20);
    opacity: 1;
}

.nav-bar{
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    justify-self: center;
    width: fit-content;

    border-radius: 999px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(255, 255, 255, 0.30) inset, 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(16px);
}

.nav-bar .actions {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.actions ion-icon {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    opacity: .8;
}

.adress-bar{
    display: flex;
    position: relative;
    width: 27.5rem;
    padding: 0.75rem;
    border-radius: 80px;
    background: rgba(0, 0, 0, 0.10);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.20) inset;

    color: white;
    opacity: 0.8;
    line-height: 1.5rem;
    font-size: .9rem;
    
}

.adress-bar ion-icon{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;

}

.adress-bar .adress {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: center;
}

.adress-bar .adress ion-icon{
    width: 1rem;
    height: 1rem;
    margin-top: -2px;
}

.adress-bar ion-icon:hover {
    background: rgba(255, 255, 255, 0.20);
    opacity: 1;
}

.screen{
    width: 72rem;
    height: 40.5rem;
    border-radius: 32px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.screen::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(255,255,255,.1), rgba(255,255,255,.6));
    margin: -1px;
    border-radius: inherit;
    z-index: -1;
}

#video {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

#ambient-light {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    scale: 1.2;
    filter: blur(200px) opacity(.5) saturate(300%); 

    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0)
}

.interaction{
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    gap: 1rem;
}

.interaction .elipse {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(2px);
}

.interaction .rectangle {
    width: 5.375rem;
    height: 0.5rem;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(2px);
}

@keyframes appear {
    from{scale:2; opacity: 0}
}