* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background: #6d67d0;
}

main{
    background: url('./assets/bg.png') no-repeat center/cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

section{
    background: #6d67d0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}

.temperature-now{
    background: url('./assets/temp-bg.png');
    width: 48rem;
    height: 48rem;
    display: grid;
    position: relative;
    grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before{
    content: '';
    width: 17.6rem;
    height: 17.6rem;
    background: url('./assets/weather.png') no-repeat;
    display: block;
    position: absolute;
    top: -5.6rem;
    left: -5.6rem;
}

.location{
    justify-self: end;
    color: aliceblue;
    padding: 3.2rem 3.2rem 0;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.temp{
    margin: 6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

.temp .number{
    text-align: center;
    font-size: 8.8rem;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.temp .number .maxmin{
    font-size: 2rem;
}

.temp .number .maxmin span{
    opacity: .5;
}
.celsius{
    font-size: 2.4rem;
    color: white;
    opacity: .6;
    margin-top: 1.5rem;
}